<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Register AMD modules -->
  <paths>
    <path key="bootstrap" value="bootstrap" />
    <path key="angular" value="angular" />
    <path key="angular-route" value="angular-route" />

    <!-- RequireJs plugins -->
    <path key="text" value="text" />
  </paths>

  <!-- Define dependencies for non AMD components -->
  <shim>

    <dependencies for="angular" exports="angular">
    </dependencies>

    <dependencies for="angular-route" exports="">
      <add dependency="angular" />
    </dependencies>

    <dependencies for="bootstrap" exports="">
    </dependencies>

  </shim>
</configuration>